.search-form {
  /* margin: 0 auto; */
  display: flex;
  width: 100%;
  /* justify-content: center; */
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
  /* box-sizing: border-box; */
}

.input {
  font: inherit;
  width: 100%;
  background: #fff;
  color: #461c1c;
  height: 2.5rem;
  border: 3px solid #ffa03c;
}

.input__error {
  width: 100%;
  font: inherit;
  background: #fff;
  color: #d14848;
  font-weight: 700;
  height: 2.5rem;
  border: 3px solid #ffa03c;
  border-inline-start-color: #d14848;
  /* border-inline-start-width: 3px; */
}

.check__btn {
  padding-top: 2px;
  font: inherit;
  color: #e9e9e9;
  background: #ffa03c;
  font-size: 18px;
  cursor: pointer;
  border: 3px solid #ffa03c;
  text-shadow: 1px 1px 2px #b46715;
  width: 6rem;
}

.check__btn:hover,
.check__btn:active {
  background: #ff992c;
}

label {
  display: block;
  color: #9ba393;
  padding-top: 2rem;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

h4 {
  margin: 0;
}

i {
  margin-right: 5px;
}

.output__blank {
  background: transparent;
  box-shadow: none;
}

.output__loading {
  padding: 0.7rem;
  height: fit-content;
  background: #4b4b72;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__info {
  height: fit-content;
  padding: 0.7rem;
  background: #317be9;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__success {
  padding: 0.7rem;
  height: fit-content;
  background: #618a32;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__error {
  padding: 0.7rem;
  height: fit-content;
  background: #d14848;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}
