.container {
  padding: 10% 15% 5% 15%;
}

h1 {
  font-size: 48px;
  color: #ffa03c;
  letter-spacing: 2px;
  font-weight: 800;
}

.search-form {
  display: flex;
  justify-content: center;
  /* border: 3px solid #ffa03c; */
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.input {
  width: 100%;
  background: #fff;
  color: #461c1c;
  height: 2.5rem;
  border: 3px solid #ffa03c;
}

#btn {
  color: white;
  font: inherit;
  background: #ffa03c;
  width: 6rem;
  border: 3px solid #ffa03c;
}

label {
  display: block;
  color: burlywood;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 300;
}

.output__loading {
  margin: 0;
  padding: 1rem;
  height: 3.5rem;
  justify-content: center;
  background: rgb(75, 75, 114);
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__test {
  margin: 0;
  padding: 1rem;
  height: 3.5rem;
  justify-content: center;
  background: rgb(129, 130, 206);
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__success {
  margin: 0;
  padding: 1rem;
  height: 1.5rem;
  justify-content: center;
  background: rgb(177, 136, 83);
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__error {
  margin: 0;
  padding: 1rem;
  height: 1.5rem;
  justify-content: center;
  background: rgb(177, 83, 83);
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}
