.container {
  padding: 10% 15% 5% 15%;
}

h1 {
  font-size: 48px;
  color: #ffa03c;
  letter-spacing: 2px;
  font-weight: 800;
}

.search-form {
  display: flex;
  justify-content: center;
  /* border: 3px solid #ffa03c; */
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.input {
  width: 100%;
  background: #fff;
  color: #461c1c;
  height: 2.5rem;
  border: 3px solid #ffa03c;
}

.btn {
  font: inherit;
  color: white;
  background: #ffa03c;
  width: 6rem;
  cursor: pointer;
  border: 3px solid #ffa03c;
}

.btn:hover,
.btn:active {
  background: #ff992c;
}

label {
  display: block;
  color: burlywood;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 300;
}

.output__loading {
  font-size: 16px;
  margin: 0;
  padding: 1rem;
  height: 1.5rem;
  justify-content: center;
  background: #4b4b72;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__info {
  margin: 0;
  padding: 1rem;
  height: 3.5rem;
  justify-content: center;
  background: #8182ce;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__success {
  margin: 0;
  padding: 1rem;
  height: 1.5rem;
  justify-content: center;
  background: #b18853;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.output__error {
  margin: 0;
  padding: 1rem;
  height: 3rem;
  justify-content: center;
  background: #b15353;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}
