.about {
  padding: 2rem;
  margin: 2.8rem auto;
  width: 50%;
  background: #4d4d68;
  border-radius: 30px;
  border: 1px solid #2c2c3d;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}

.about p {
  text-align: center;
  font-size: 18px;
}

.about a {
  color: #fff;
  text-decoration-color: #ffa03c;
  outline: none;
  cursor: pointer;
}

.about a:hover,
.about a:active {
  color: #9ba393;
}

@media screen and (max-width: 767px) {
  .about {
    margin: 1.4rem auto;
    width: 75%;
    padding: 1rem;
  }
}
